.heroImg{
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.7)
    ),url("../../img/use/hero.jpeg") !important;
  height:640px;
  filter: brightness(100%);
}

.text-white{
  color: rgba(255, 255, 255, .8);
}

.contact-icon > i:hover {
  color: #689797 !important;
}

.no-margin {
  margin: 0;
}
